.background{
  /* border: 1px solid white; */
  color: rgba(255, 255, 255, 0.412);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.form-and-final-name{
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

#bojified-name{
  /* border: 1px solid blue; */
  height: 240px;
  font-size: 22px;
  margin-bottom: 200px;
}

.name-input{
  margin-right: 10px;
}
